*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container{
  border: 1px solid #000;
  width: 500px;
  padding: 30px 20px;
  border-radius: 5px;
}

.header-cont{
  display: flex;
  justify-content: space-between;
}

.header-cont h3{
  font-size: 25px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.header-cont button{
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1px;
}

.form{
  padding: 10px 0;
}

.task-cont{
  width: 100%;
  background-color: rgb(232, 232, 232);
  padding: 10px 20px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.reminder{
  background-color: pink;
}

.actions{
  width: 40px ; 
  display: flex;
  justify-content: space-between;
}

.task{
  text-transform: capitalize;
}
.date{
  text-transform: capitalize;
}

.update{
  color: blue; cursor:pointer;font-size:18px;
}
.del{
  color: red; cursor:pointer;font-size:18px;
}

@media screen and (max-width: 520px) {
  .container{
    width: 350px;
  }

  .header-cont h3{
    font-size: 18px;
  }

  .header-cont button{
    padding: 2px 5px;
    font-size: 13px;
  }

  .task{
    text-transform: capitalize;
    font-size: 14px;
  }
  .date{
    text-transform: capitalize;
    font-size: 12px;
  }
  
  .update{
    font-size:15px;
  }
  .del{
    font-size:15px;
  }
  
}
@media screen and (max-width: 363px) {
  .container{
    width: 300px;
  }

  .form-label{
    font-size: 14px;
  }

  input::placeholder{
    font-size: 14px;
  }

  .setReminder{
    font-size: 15px;
  }

  .form-control{
    height: 28px;
  }


  .header-cont h3{
    font-size: 18px;
  }

  .task{
    text-transform: capitalize;
    font-size: 14px;
  }
  .date{
    text-transform: capitalize;
    font-size: 12px;
  }
  
  .update{
    font-size:15px;
  }
  .del{
    font-size:15px;
  }
  
}